.menu-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container i {
    padding-top: 0.5rem;
}

.menu-container i:hover {
    cursor: pointer;
}

.menu-container button {
    width: 50%;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .menu-container button {
        width: 100%;
    }
}
