.learner-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.learner-container.correct > div {
    color: rgb(116, 200, 116) !important;
}

.learner-container.incorrect > div {
    color: rgb(200, 116, 116) !important;
}

#word-container {
    padding-top: 5rem;
    flex: 0 0 10rem;
    font-size: 8rem;
}

#description-container {
    flex: 0 0 5rem;
    font-size: 3rem;
    color: #999;
}

#guesses-container {
    flex: 0 0 2rem;
    font-size: 1.5rem;
    color: #999;
}

#answers-container {
    flex: 0 0 2rem;
    font-size: 1.5rem;
    color: #999 !important;
}

#input-container {
    padding-bottom: 5rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

#input-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

#input-container > div > div {
    width: 100%;
}

#input-container p {
    font-size: 1.2rem;
    color: #999;
    height: 2rem;
}

#input-container input {
    font-size: 6rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

#input-container #input {
    box-sizing: border-box;
    padding: 0.3rem;
}

@media only screen and (max-width: 768px) {
    #word-container {
        padding-top: 1rem;
        flex: 0 0 5rem;
        font-size: 2.5rem;
    }

    #description-container {
        flex: 0 0 3rem;
        font-size: 1.5rem;
    }

    #answers-container {
        font-size: 1rem;
    }

    #input-container p {
        margin: 0 0.5rem;
        font-size: 1rem;
    }

    #input-container input {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1200px) {
    #input-container #button-container span {
        font-size: 0.4rem;
    }
}

#input-container #button-container {
    display: flex;
    flex-direction: row;
}

#input-container #button-container div {
    flex: 1 1 auto;
    padding: 0.3rem;
    box-sizing: border-box;
    position: relative;
}

#input-container #button-container button {
    width: 100%;
}

#input-container #button-container span {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    background: none;
    opacity: 0.5;
    font-style: italic;
}

.learner-container #count {
    position: absolute;
    left: 0;
    right: 0;
    top: 0.5rem;
    display: inline-block;
}

.learner-container #range-explanation {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 1rem;
    opacity: 0.5;
    font-size: 0.9rem;
    padding-top: 0.2rem;
}

.learner-container #range-explanation:hover {
    cursor: pointer;
}
